<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav><a href="http://localhost:3000/">Home</a><br><a href="http://localhost:3000/users">User Index</a></nav>

	<h1><%=user.username%></h1>
	<h5>
		<a href="/users/<%=user.id%>/edit">Edit User</a>
		<br>
		<br>

		<form action="/users/<%=user.id%>?_method=DELETE" method="POST">
			<input type="submit" value="Delete <%=user.username%>">
		</form>
	</h5>

		<!-- HERE WE DISPLAY ALL THE USER'S PICTURES -->
		<% for (let i = 0; i < user.photos.length; i++){ %>
	        <label for="photo">Username:</label>
			<img src="<%=user.photos[i].url%>" id="photo">
		<%}%>


</body>
</html>